{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.course.show'|trans }}{% endblock %}

{% block header %}
    <div class="container">
        <div class="row gx-2">
            <div class="col-12 col-md-9 pt-5 pb-3">
                <h1 class="course-header-name">{{ course.name }}</h1>
                <div class="course-header-details">
                    {% if course.estimatedWorkload is not empty %}
                        <div class="course-header-details-item">
                            {{ mdi('timer-outline') }}
                            <span>{{ course|translate_workload }}</span>
                        </div>
                    {% endif %}
                    {% if course.lessons is not empty %}
                        <div class="course-header-details-item">
                            {{ mdi('book-open-page-variant-outline') }}
                            <span>{{ course.lessons|length }} {{ 'course.extra.lessons'|trans }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if course.image is not empty %}
                <div class="col-12 col-md-3 d-none d-md-block">
                    <div class="course-header-image" style="background-image: url('{{ path('file_fetch_course_image', {'course': course.id}) }}')"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row gx-2">
            <div class="col-12 pt-4">
                <div class="container-fluid">
                    <div class="row">{% include '_partials/toasts.html.twig' with {'classAddition': 'p-0'} %}</div>
                    <div class="row mb-3">{% include '_partials/tab_navigation.html.twig' %}</div>
                    <div class="row course-content mb-4">
                        {% block courseContent %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}