{% trans_default_domain 'app' %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card h-100 p-0">
        <div class="card-image ms-0 me-0 mt-0">
            {% if course.image is not null %}
                <img src="{{ path('file_fetch_course_image', {'course': course.id}) }}" alt="Course image"/>
            {% endif %}
        </div>
        <div class="card-text flex-grow-1 ps-2 pe-2">
            {% if course.estimatedWorkload is not empty %}
                <div class="d-flex align-items-center course-card-details mb-3">
                    {{ mdi('timer-outline', 'course-card-details-icon') }}
                    <span>{{ course|translate_workload }}</span>
                </div>
            {% endif %}
            <div class="course-card-name">{{ course.name }}</div>
        </div>
        <div class="card-actions ps-2 pe-2 pb-2">
            <a href="{{ path('course_overview', {'course': course.id}) }}" class="btn btn-thematic-blue-outline">{{ 'button.details'|trans }}</a>
        </div>
    </div>
</div>