{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.course.index'|trans }}{% endblock %}

{% block header %}
    <div class="container-fluid">
        <span class="brand">OLIVIA</span>
    </div>
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="row mb-5">
            <h1 class="text-center">{{ 'course.title.index'|trans }}</h1>
        </div>
        {% include "_partials/toasts.html.twig" with {'classAddition': 'row'} %}
        <div class="row g-3">
            {% for course in courses %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 p-0">
                        <div class="card-image ms-0 me-0 mt-0">
                            {% if course.image is not null %}
                                <img src="{{ path('file_fetch_course_image', {'course': course.id}) }}" alt="Course image"/>
                            {% endif %}
                        </div>
                        <div class="card-text flex-grow-1 ps-2 pe-2">
                            <div class="d-flex align-items-center course-card-details mb-3">
                                <svg width="18" height="18" viewBox="0 0 24 24">
                                    <path style="fill: var(--app-color-orange)" d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
                                </svg>
                                <span>{{ course.estimatedWorkload }}</span>
                            </div>
                            <div class="course-card-name">{{ course.name }}</div>
                        </div>
                        <div class="card-actions ps-2 pe-2 pb-2">
                            <a href="#" class="btn btn-theme-white bg-blue">{{ 'common.details'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_granted('ROLE_MODERATOR') %}{% include 'course/_index_add.html.twig' %}{% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .course-card-details {
            font-size: 0.875rem;
        }
        .course-card-name {
            color: black
        }
    </style>
{% endblock %}