{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.course.new'|trans }}{% endblock %}

{% block header %}
    <div class="container-fluid py-3 px-5">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
                <span class="brand">{{ 'app.brand.short'|trans }}</span>
            </div>
            <nav class="col-12 col-sm-6 text-end">
                <ul class="navigation-main p-0">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_index') }}" class="btn btn-theme-white">{{ 'nav.admin'|trans }}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('security_logout') }}" class="btn btn-theme-white">{{ 'common.logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('security_login') }}" class="btn btn-theme-white">{{ 'common.login'|trans }}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="row mb-5">
            <h1 class="text-center">{{ 'course.title.new'|trans }}</h1>
        </div>
        {% include "_partials/toasts.html.twig" with {'classAddition': 'row'} %}
        <div class="row">
            <div class="card">
                <div class="card-text">
                    {% include 'course/_form.html.twig' %}
                </div>
                <div class="card-actions justify-content-end">
                    <button type="submit" class="btn btn-theme-white bg-blue" form="course">{{ 'common.save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('df-select') }}
    {{ encore_entry_link_tags('quill') }}
    <style>
        .editor-container {
            height: 440px;
            padding-bottom: 42px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('df-select') }}
    {{ encore_entry_script_tags('quill') }}
    <script>
        const settings = { theme: "snow", modules: { toolbar: "#editor-toolbar" } };
        const settingsAlt = { theme: "snow", modules: { toolbar: "#editor-toolbar-alt" } };
        const translation = { textCancel: '{{ 'common.cancel'|trans }}', textSubmit: '{{ 'common.submit'|trans }}' };

        window.onload = () => {
            const quill = new Quill("#editor", settings);
            const quillAlt = new Quill("#editor-alt", settingsAlt);
            QuillUtils.assignHtmlEditingCapabilities(quill, document.getElementById("editor-html"), translation)
            QuillUtils.assignHtmlEditingCapabilities(quillAlt, document.getElementById("editor-html-alt"), translation)

            const form = document.querySelector("form#course");
            form.onsubmit = function(e) {
                const text = this.querySelector("#course_learningOutcomes");
                text.value = quill.root.innerHTML;
                const textAlt = this.querySelector("#course_learningOutcomesAlt");
                textAlt.value = quillAlt.root.innerHTML;
            };
        };
    </script>
{% endblock %}