{% extends 'course/_base_course.html.twig' %}
{% trans_default_domain 'app' %}

{% block courseContent %}
    <h2 class="text-center mb-3">{{ course.nameOrPublicName }}</h2>
    <div class="row g-4">
        <div class="ql-editor col-12 col-lg-9">{{ course.description|raw }}</div>
        {% include 'course/_overview_details.html.twig' %}
    </div>

    {% if course.instructors is not empty %}
        <div class="mt-5 p-0">
            <h3 class="mb-3">{{ 'course.nav.instructors'|trans }}</h3>
            {% for instructor in course.instructors %}
                {% if loop.last %}
                    {% include 'course/_overview_instructor.html.twig' with {'instructor': instructor, 'isLast': true} %}
                {% else %}
                    {% include 'course/_overview_instructor.html.twig' with {'instructor': instructor} %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_MODERATOR') %}
        <div class="text-end">
            <a href="{{ path('course_edit', {'course': course.id}) }}" class="btn btn-theme-white bg-green">{{ 'common.edit'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block belowCourseContent %}
    {% if course.practicalSubmodules is not empty %}
        <div class="row course-content mb-4">
            <h3 class="mb-2">{{ 'course.extra.connectedTo'|trans }}</h3>
            <div class="course-connected-modules">
                {% for ps in course.practicalSubmodules %}
                    {% include 'evaluation/_index_evaluation.html.twig' with {'usePublicName': true, 'evaluation': ps} %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}