{% extends 'course/_base_course.html.twig' %}
{% trans_default_domain 'app' %}

{% block courseContent %}
    {% if course.practicalSubmodules is not empty %}
        <div class="panel mb-3">
            <p class="mb-2">{{ 'course.extra.connectedTo'|trans }}</p>
            <ul>
                {% for ps in course.practicalSubmodules %}
                    <li class="ms-3"><a href="{{ path('practical_submodule_overview', {'practicalSubmodule': ps.id}) }}">{{ ps.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <p>{{ course.description|nl2br }}</p>

    {% if course.instructors is not empty %}
        <div class="mt-5 p-0">
            <h3 class="mb-3">{{ 'course.nav.instructors'|trans }}</h3>
            {% for instructor in course.instructors %}
                {% if loop.last %}
                    {% include 'course/_overview_instructor.html.twig' with {'instructor': instructor, 'isLast': true} %}
                {% else %}
                    {% include 'course/_overview_instructor.html.twig' with {'instructor': instructor} %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}