{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.login'|trans }}{% endblock %}

{% block body %}
    <div class="w-100 h-100 row gx-0 justify-content-center align-items-center">
        <div class="col-xs-11 col-sm-9 col-md-7 col-lg-5 col-xl-3">
            {% include '_partials/toasts.html.twig' %}
            <div class="card">
                <div class="card-title py-5">
                    <h1 class="h1-login text-center">{{ 'app.brand'|trans }}</h1>
                </div>
                <div class="card-text">
                    {{ form_start(form) }}
                    <label>{{ form_widget(form.email, {'attr': {'placeholder': form.email.vars.label}}) }}</label>
                    <label>{{ form_widget(form.plainPassword, {'attr': {'placeholder': form.plainPassword.vars.label}}) }}</label>
                    <button type="submit" class="btn btn-theme-white bg-black w-100 mb-3">{{ 'common.login'|trans }}</button>
                    {{ form_end(form) }}
                    <a href="{{ path('security_registration') }}" class="btn btn-link">{{ 'common.registration'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .body {
            background-color: var(--app-color-dark-blue);
        }
    </style>
{% endblock %}