{% extends 'security/_base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.confirmation'|trans }}{% endblock %}

{% block body %}
    <div class="w-100 h-100 row gx-0 justify-content-center align-items-center">
        <div class="security-form-wrapper">
            {% include '_partials/toasts.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'card'}}) }}
                <div class="card-title">{{ 'common.resetPassword'|trans }}</div>
                <div class="card-text">
                    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': form.plainPassword.first.vars.label}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': form.plainPassword.second.vars.label}}) }}
                </div>
                <div class="card-actions">
                    <button type="submit" class="btn btn-theme-white bg-black w-100">{{ 'common.submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}