{% extends 'security/_base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.confirmation'|trans }}{% endblock %}

{% block body %}
    <div class="w-100 h-100 row gx-0 justify-content-center align-items-center">
        <div class="col-xs-11 col-sm-9 col-md-7 col-lg-5 col-xl-3">
            {% if false == requestSent %}
                {% include '_partials/toasts.html.twig' %}
                {{ form_start(form, {'attr': {'class': 'card'}}) }}
                    <div class="card-title">{{ 'common.resetPassword'|trans }}</div>
                    <div class="card-text">
                        <p class="mb-4">{{ 'form.security.resetPassword.message.email'|trans }}</p>
                        {{ form_widget(form.email, {'attr': {'placeholder': form.email.vars.label}}) }}
                    </div>
                    <div class="card-actions">
                        <button type="submit" class="btn btn-theme-white bg-black w-100">{{ 'common.submit'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            {% else %}
                <div class="card">
                    <div class="card-text">{{ 'success.resetPassword.email'|trans({}, 'message') }}</div>
                    <div class="card-actions">
                        <a href="{{ path('security_login') }}" class="btn btn-link">{{ 'common.login'|trans }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}