{% extends 'gdpr/_base_gdpr.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.termsOfService.show'|trans }}{% endblock %}

{% block gdprContent %}
    <div class="card card-body">
        <div class="text-center">
            <h1>{{ 'nav.privacyPolicy'|trans }}</h1>
            {% if is_granted('ROLE_ADMIN') and gdpr.active %}
                <a href="{{ path('gdpr_edit', {'gdpr': gdpr.id}) }}" class="btn btn-theme-white bg-blue mt-3">{{ 'common.edit'|trans }}</a>
            {% endif %}
        </div>
        <div class="ql-editor">{{ gdpr.privacyPolicy|raw }}</div>
    </div>
{% endblock %}