{% trans_default_domain 'app' %}

<style>
    .cookie-banner {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: solid 1px rgba(0, 0, 0, .8);
        border-radius: 16px;
        padding: 16px 24px;
        color: rgba(0, 0, 0, .8) !important;
        font-size: 16px;
        background-color: #FFFFFF;
        font-family: 'Source Sans 3', 'Helvetica', 'Calibri', 'Arial', sans-serif;
    }

    .cookie-banner h1 {
        margin: 0;
        font-size: 24px;
    }

    .cookie-banner h2 {
        margin: 16px 0 0;
        font-size: 20px;
    }

    .cookie-banner--cookie {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider {
        width: 56px;
        height: 32px;
        position: relative;
        cursor: pointer;
        flex-shrink: 0;
    }

    .slider > input {
        display: none;
    }

    .slider > input:checked + .slide:before {
        transform: translateX(24px);
    }

    .slider > input:checked + .slide {
        background-color: #03a9f5;
    }

    .slider > .slide {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 16px;
        background-color: #ededed;
        transition: .2s;
    }

    .slider > .slide:before {
        content: "";
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 28px;
        background-color: #FFFFFF;
        left: 2px;
        top: 2px;
        transition: .2s;
    }

    .cookie-banner--actions {
        display: flex;
        gap: 8px;
        margin-top: 16px;
        justify-content: end;
    }

    .btn-red {
        padding: 8px 24px;
        border-radius: 4px;
        transition: .2s;
        border: solid 1px #f51b38;
        background-color: #f51b38;
        color: #ffffff;
        cursor: pointer;
    }

    .btn-red:hover {
        background-color: #ffffff;
        color: #f51b38;
    }

    .btn-blue {
        padding: 8px 24px;
        border-radius: 4px;
        transition: .2s;
        border: solid 1px #03a9f5;
        background-color: #03a9f5;
        color: #ffffff;
        cursor: pointer;
    }

    .btn-blue:hover {
        background-color: #ffffff;
        color: #03a9f5;
    }

    .btn-green {
        padding: 8px 24px;
        border-radius: 4px;
        transition: .2s;
        border: solid 1px #3eaea6;
        background-color: #3eaea6;
        color: #ffffff;
        cursor: pointer;
    }

    .btn-green:hover {
        background-color: #ffffff;
        color: #3eaea6;
    }

    @media screen and (max-width: 767px) {
        .cookie-banner--actions {
            justify-content: space-between;
        }

        .cookie-banner--actions > button{
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    @media screen and (max-width: 575px) {
        .cookie-banner--actions {
            flex-direction: column;
            align-items: stretch;
        }
    }
</style>
<div class="cookie-banner">
    <h1>{{ 'export.cookieBanner.title'|trans }}</h1>
    {% if cookieBanner.usage is defined %}
        <p>{{ cookieBanner.usage }}</p>
    {% endif %}

    {% if cookieBanner.link is defined %}
        {{ cookieBanner.link|raw }}
    {% endif %}

    {% if cookieBanner.first_party is defined %}
        <h2>{{ 'export.cookieBanner.subtitles.firstParty'|trans }}</h2>
        {% for item in cookieBanner.first_party|split("\n")|filter(s => s|length > 0) %}
            <div class="cookie-banner--cookie">
                <span>{{ item }}</span>
                <label class="slider">
                    <input type="checkbox"/>
                    <span class="slide"></span>
                </label>
            </div>
        {% endfor %}
    {% endif %}

    {% if cookieBanner.third_party is defined %}
        <h2>{{ 'export.cookieBanner.subtitles.thirdParty'|trans }}</h2>
        {% for item in cookieBanner.third_party|split("\n")|filter(s => s|length > 0) %}
            <div class="cookie-banner--cookie">
                <span>{{ item }}</span>
                <label class="slider">
                    <input type="checkbox"/>
                    <span class="slide"></span>
                </label>
            </div>
        {% endfor %}
    {% endif %}

    <div class="cookie-banner--actions">
        <button class="btn-red">{{ 'export.cookieBanner.buttons.declineAll'|trans }}</button>
        <button class="btn-green">{{ 'export.cookieBanner.buttons.acceptAll'|trans }}</button>
        <button class="btn-blue">{{ 'export.cookieBanner.buttons.acceptSelected'|trans }}</button>
    </div>
</div>