{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}
    <div class="index-banner" style="background-image: url('{{ asset('build/images/bg-index.png') }}')">
        <div class="index-banner-wrapper">
            <div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
            <div class="index-banner-subtitle">{{ 'app.subtitle'|trans }}</div>
            <div class="index-banner-actions">
                <a href="#" class="btn btn-theme-white bg-orange">{{ 'nav.training'|trans }}</a>
                <a href="#" class="btn btn-theme-white bg-blue ms-3">{{ 'nav.practice'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="index-about">
        <div class="index-about--left">
            <h2>{{ 'index.about.left.title'|trans }}</h2>
            <p>{{ 'index.about.left.description'|trans }}</p>
        </div>
        <div class="index-about--right">
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.1.title'|trans }}</h3>
                    <p>{{ 'index.about.right.1.text'|trans }}</p>
                </div>
            </div>
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.1.title'|trans }}</h3>
                    <p>{{ 'index.about.right.1.text'|trans }}</p>
                </div>
            </div>
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.1.title'|trans }}</h3>
                    <p>{{ 'index.about.right.1.text'|trans }}</p>
                </div>
            </div>
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.1.title'|trans }}</h3>
                    <p>{{ 'index.about.right.1.text'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="index-modules mt-5">
        <div class="index-modules--upper">
            <div class="index-modules--upper--img" style="background-image: url('{{ asset('build/images/index-module-theory.png') }}')">
                <div class="index-modules--upper--tape bg-orange">{{ 'index.modules.upper.theoreticalModule'|trans }}</div>
            </div>
            <div class="index-modules--upper--img" style="background-image: url('{{ asset('build/images/index-module-practice.png') }}')">
                <div class="index-modules--upper--tape bg-blue">{{ 'index.modules.upper.practicalModule'|trans }}</div>
            </div>
        </div>
        <div class="index-modules--lower">
            <div class="container">
                <h2>{{ 'index.modules.lower.title'|trans }}</h2>
                <p>{{ 'index.modules.lower.description'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}