{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}
    <div class="index-banner" style="background-image: url('{{ asset('build/images/bg-index.png') }}')">
        <div class="index-banner-wrapper">
            <div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
            <div class="index-banner-subtitle">{{ 'app.subtitle'|trans }}</div>
            <div class="index-banner-actions">
                <a href="{{ path('topic_index') }}" class="btn btn-theme-white bg-orange">{{ 'nav.topics'|trans }}</a>
                <a href="{{ path('about_us') }}" class="btn btn-theme-white bg-blue ms-3">{{ 'nav.aboutUs'|trans }}</a>
                <a href="{{ path('about_project') }}" class="btn btn-theme-white bg-blue ms-3">{{ 'nav.aboutProject'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="index-about">
        <div class="index-about--left">
            <h2>{{ 'index.about.left.title'|trans }}</h2>
            <p class="mb-3">{{ 'index.about.left.description.1'|trans|raw }}</p>
            <p class="mb-3">{{ 'index.about.left.description.2'|trans|raw }}</p>
            <p class="mb-3">{{ 'index.about.left.description.3'|trans|raw }}</p>
        </div>
        <div class="index-about--right">
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.1.title'|trans }}</h3>
                    <p>{{ 'index.about.right.1.text'|trans }}</p>
                </div>
            </div>
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.2.title'|trans }}</h3>
                    <p>{{ 'index.about.right.2.text'|trans }}</p>
                </div>
            </div>
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.3.title'|trans }}</h3>
                    <p>{{ 'index.about.right.3.text'|trans }}</p>
                </div>
            </div>
            <div class="index-about--right--item">
                <div class="index-about--right--item-icon">{{ mdi('lightbulb-variant-outline') }}</div>
                <div class="index-about--right--item-info">
                    <h3>{{ 'index.about.right.4.title'|trans }}</h3>
                    <p>{{ 'index.about.right.4.text'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="index-topics">
        <div class="index-topics--l" style="background-image: url('{{ asset('build/images/index-lock.png') }}')"></div>
        <div class="index-topics--r">
            <h3>{{ 'index.topics.title'|trans|raw }}</h3>
            <p>{{ 'index.topics.text'|trans|raw }}</p>
            <div><a href="{{ path('topic_index') }}" class="btn btn-thematic-blue-outline">{{ 'index.topics.button'|trans }}</a></div>
        </div>
    </div>

    {% if testimonials is not empty %}
        <div class="container-fluid my-2 p-0">
            <div id="carousel" class="index-carousel">
                {% for testimonial in testimonials %}
                    <div class="index-carousel-slide">
                        <div class="index-testimonial">
                            <div class="container position-relative">
                                {{ mdi('book-open-page-variant-outline', 'index-testimonial-icon') }}
                                <h3>{{ testimonial.title }}</h3>
                                <p>{{ testimonial.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        .body { background-color: white; }
    </style>
{% endblock %}

{% block javascripts %}
    {% if testimonials is not empty %}
        {{ encore_entry_script_tags('index.carousel') }}
    {% endif %}
{% endblock %}