{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}
    <div class="container">
        <div class="row">
            <nav>
                <ul class="navigation-main">
                    <li><a href="{{ path('course_index') }}" class="btn btn-theme-white">{{ 'nav.training'|trans }}</a></li>
                    <li><a href="#" class="btn btn-theme-white">{{ 'nav.aboutUs'|trans }}</a></li>
                    <li>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('security_logout') }}" class="btn btn-theme-white">{{ 'common.logout'|trans }}</a>
                        {% else %}
                            <a href="{{ path('security_login') }}" class="btn btn-theme-white">{{ 'common.login'|trans }}</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .body {
            background-color: var(--app-color-dark-blue);
        }
    </style>
{% endblock %}