{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}
    <div class="index-banner" style="background-image: url('{{ asset('build/images/bg-index.png') }}')">
        <div class="container index-banner-wrapper">
            <div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
            <div class="index-banner-subtitle">{{ 'nav.presentations'|trans }}</div>
        </div>
    </div>
    <div class="container py-5">
        <ul class="file-list">
            {% for file in files %}
                <li class="file-list-item">
                    {% if constant('TYPE_VIDEO', file) == file.type %}
                        <button type="button" data-modal-open="#video-modal-{{ file.id }}">
                            <div class="text-align-left">{{ file|raw|nl2br }}</div>
                            {{ mdi('video-outline', 'file-list-item-icon') }}
                        </button>
                    {% else %}
                        <a href="{{ path('file_fetch_uploaded_file', {'file': file.id}) }}" target="_blank">
                            <div class="text-align-left">{{ file|raw|nl2br }}</div>
                            {{ mdi('download', 'file-list-item-icon') }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% for file in files|filter(f => constant('TYPE_VIDEO', f) == f.type) %}
        <div class="modal" id="video-modal-{{ file.id }}">
            <div class="modal-dialog wider">
                <div class="modal-dialog-content">
                    <video controls style="width: 100%">
                        <source src="{{ path('file_fetch_uploaded_file', {'file': file.id}) }}">
                    </video>
                </div>
                <div class="modal-dialog-actions">
                    <button type="button" class="btn btn-link" data-modal-close="#video-modal-{{ file.id }}">{{ 'common.close'|trans }}</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}