{% extends 'termsOfService/_base_tos.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.termsOfService.index'|trans }}{% endblock %}

{% block tosContent %}
    <div class="card card-body profile">
        <h1>{{ app.user.email }}</h1>
        <hr/>
        <div class="action-and-description">
            <div class="description">
                <p class="mb-3">{{ 'profile.request.access.description'|trans }}</p>
                <p>{{ 'profile.request.access.disclaimer'|trans }}</p>
            </div>
            <form class="action text-end" action="{{ path('data_request_access') }}" method="post" onsubmit="return confirm('{{ 'profile.request.access.confirmation'|trans }}')">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('data.request.access') }}"/>
                <button type="submit" class="btn btn-theme-white bg-green">{{ 'profile.request.access.button'|trans }}</button>
            </form>
        </div>
        <hr/>
        <div class="action-and-description">
            <div class="description">
                <p class="mb-3">{{ 'profile.request.delete.description'|trans }}</p>
                <p>{{ 'profile.request.delete.disclaimer'|trans }}</p>
            </div>
            <form class="action text-end" action="{{ path('data_request_delete') }}" method="post" onsubmit="return confirm('{{ 'profile.request.delete.confirmation'|trans }}')">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('data.request.delete') }}"/>
                <button type="submit" class="btn btn-theme-white bg-red">{{ 'profile.request.delete.button'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('popper.dropdown') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('popper.dropdown') }}
{% endblock %}