{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}
    <div class="index-banner" style="background-image: url('{{ asset('build/images/bg-index.png') }}')">
        <div id="index-banner-particles" class="index-banner-particles" data-particles></div>
        <div class="container index-banner-wrapper">
            <div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
            <div class="index-banner-subtitle">{{ 'nav.seminars'|trans }}</div>
        </div>
    </div>
    <div class="container py-5">
        <h2 class="mb-3">{{ 'extra.webinars'|trans }}</h2>
        <ul id="file-list-1" class="file-list mb-5"{% if is_granted('ROLE_MODERATOR') %} data-path="{{ path('file_reorder_webinars') }}"{% endif %}>
            {% for file in webinars %}
                {% include 'default/_seminars_item.html.twig' %}
            {% endfor %}
        </ul>
        <h2 class="mb-3">{{ 'extra.presentations'|trans }}</h2>
        <ul id="file-list-2" class="file-list"{% if is_granted('ROLE_MODERATOR') %} data-path="{{ path('file_reorder_presentations') }}"{% endif %}>
            {% for file in presentations %}
                {% include 'default/_seminars_item.html.twig' %}
            {% endfor %}
        </ul>
    </div>
    {% for file in webinars %}
        {% include 'default/_seminars_modal.html.twig' %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal') }}
    {% if is_granted('ROLE_MODERATOR') %}
        {{ encore_entry_script_tags('axios') }}
        {{ encore_entry_script_tags('sortable') }}
        {{ encore_entry_script_tags('Reorderer') }}
        {{ encore_entry_script_tags('seminars.sort') }}
    {% endif %}
    {{ encore_entry_script_tags('particles') }}
{% endblock %}