{% trans_default_domain 'app' %}

{% if isEditing is not defined %}
    {% set isEditing = false %}
{% endif %}

{{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    {% if form.type is defined %}
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
    {% endif %}

    {{ form_label(form.evaluable) }}
    {{ form_widget(form.evaluable) }}

    {{ form_label(form.dependentPracticalSubmoduleQuestion) }}
    {{ form_widget(form.dependentPracticalSubmoduleQuestion) }}

    {{ form_label(form.dependentValue) }}
    {{ form_widget(form.dependentValue) }}

    {% if form.otherEnabled is defined %}
        <label for="{{ form.otherEnabled.vars.id }}">{{ form.otherEnabled.vars.label|trans|raw }}</label>
        {{ form_widget(form.otherEnabled) }}
    {% endif %}

    {{ form_label(form.questionText) }}
    {{ form_widget(form.questionText) }}

    {% if form.questionTextAlt is defined %}
        {{ form_label(form.questionTextAlt) }}
        {{ form_widget(form.questionTextAlt) }}
    {% endif %}
{{ form_end(form) }}