{% if evaluationEvaluator.type == constant('TYPE_SIMPLE', evaluationEvaluator) %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
        {{ form_label(form.practicalSubmoduleQuestion) }}
        {{ form_widget(form.practicalSubmoduleQuestion) }}

        {{ form_label(form.expectedValue) }}
        {{ form_widget(form.expectedValue) }}

        {{ form_label(form.resultText) }}
        {{ form_widget(form.resultText) }}

        {{ form_label(form.resultFiles) }}
        {{ form_widget(form.resultFiles) }}
    {{ form_end(form) }}
{% endif %}

{% if evaluationEvaluator.type == constant('TYPE_HTML', evaluationEvaluator) %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
        {{ form_label(form.practicalSubmoduleQuestion) }}
        {{ form_widget(form.practicalSubmoduleQuestion) }}

        {{ form_label(form.expectedValue) }}
        {{ form_widget(form.expectedValue) }}

        {{ form_label(form.resultText) }}
        <div class="editor-container mb-3">
            {% include '_partials/ql-editor-toolbar.html.twig' %}
            <div id="editor"></div>
        </div>

        {{ form_label(form.resultFiles) }}
        {{ form_widget(form.resultFiles) }}
    {{ form_end(form) }}
{% endif %}

{% if evaluationEvaluator.type in [constant('TYPE_SUM_AGGREGATE', evaluationEvaluator), constant('TYPE_PRODUCT_AGGREGATE', evaluationEvaluator)]  %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
        {% if form.question is defined %}
            {{ form_label(form.question) }}
            {{ form_widget(form.question) }}
        {% endif %}

        {% if form.questions is defined %}
            {{ form_label(form.questions) }}
            {{ form_widget(form.questions) }}
        {% endif %}

        {{ form_label(form.practicalSubmoduleProcessors) }}
        {{ form_widget(form.practicalSubmoduleProcessors) }}

        {{ form_label(form.expectedValueRangeStart) }}
        {{ form_widget(form.expectedValueRangeStart) }}

        {{ form_label(form.expectedValueRangeEnd) }}
        {{ form_widget(form.expectedValueRangeEnd) }}

        {{ form_label(form.resultText) }}
        {{ form_widget(form.resultText) }}

        {{ form_label(form.resultFiles) }}
        {{ form_widget(form.resultFiles) }}
    {{ form_end(form) }}
{% endif %}

{% if evaluationEvaluator.type == constant('TYPE_MAX_VALUE', evaluationEvaluator) %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
        {{ form_label(form.practicalSubmoduleQuestions) }}
        {{ form_widget(form.practicalSubmoduleQuestions) }}

        {{ form_label(form.practicalSubmoduleProcessors) }}
        {{ form_widget(form.practicalSubmoduleProcessors) }}

        {{ form_label(form.expectedValueRangeStart) }}
        {{ form_widget(form.expectedValueRangeStart) }}

        {{ form_label(form.expectedValueRangeEnd) }}
        {{ form_widget(form.expectedValueRangeEnd) }}

        {{ form_label(form.resultText) }}
        {{ form_widget(form.resultText) }}

        {{ form_label(form.resultFiles) }}
        {{ form_widget(form.resultFiles) }}
    {{ form_end(form) }}
{% endif %}

{% if evaluationEvaluator.type == constant('TYPE_TEMPLATED_TEXT', evaluationEvaluator) %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
        {{ form_label(form.practicalSubmoduleQuestion) }}
        {{ form_widget(form.practicalSubmoduleQuestion) }}

        {{ form_label(form.resultText) }}
        {{ form_widget(form.resultText) }}

        {{ form_label(form.resultFiles) }}
        {{ form_widget(form.resultFiles) }}
    {{ form_end(form) }}
{% endif %}

{% if evaluationEvaluator.type == constant('TYPE_RESULT_COMBINER', evaluationEvaluator) %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
        {{ form_label(form.separateBy) }}
        {{ form_widget(form.separateBy) }}

        {{ form_label(form.practicalSubmoduleProcessors) }}
        {{ form_widget(form.practicalSubmoduleProcessors) }}
    {{ form_end(form) }}
{% endif %}