{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    <h2 class="mb-3">{{ 'evaluationEvaluator.heading.basicOptions'|trans }}</h2>
    {% include 'evaluation/evaluation_evaluator/_form_base.html.twig' with {'form': baseForm} %}
    <div class="text-end">
        <button type="submit" form="{{ baseForm.vars.id }}" class="btn btn-theme-white bg-blue">{{ 'common.save'|trans }}</button>
    </div>

    <hr>

    <h2 class="mb-3">{{ 'evaluationEvaluator.heading.specificOptions'|trans }}</h2>
    {% include 'evaluation/evaluation_evaluator/_form_impl.html.twig' with {'form': implForm} %}
    <div class="text-end">
        <button type="submit" form="{{ implForm.vars.id }}" class="btn btn-theme-white bg-blue">{{ 'common.save'|trans }}</button>
    </div>
{% endblock %}