{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block header %}
    <div class="container">
        <div class="row">
            <nav>
                <ul class="navigation-main">
                    <li><a href="{{ path('change_locale') }}" class="btn btn-theme-white">{{ 'nav.language'|trans }}<sup class="sup-locale">{{ app.request.locale }}</sup></a></li>
                    <li><a href="{{ path('course_index') }}" class="btn btn-theme-white">{{ 'nav.training'|trans }}</a></li>
                    <li><a href="{{ path('practical_submodule_index') }}" class="btn btn-theme-white">{{ 'nav.practice'|trans }}</a></li>
                    <li><a href="#" class="btn btn-theme-white">{{ 'nav.aboutUs'|trans }}</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('tos_index') }}" class="btn btn-theme-white">{{ 'nav.termsOfService'|trans }}</a></li>
                        <li><a href="{{ path('security_logout') }}" class="btn btn-theme-white">{{ 'common.logout'|trans }}</a></li>
                    {% else %}
                        <a href="{{ path('security_login') }}" class="btn btn-theme-white">{{ 'common.login'|trans }}</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row gy-2 pt-4">
            <div class="col-12">
                {% include '_partials/toasts.html.twig' with {'classAddition': 'p-0'} %}
            </div>
            <div class="col-12">
                {% block tosContent %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}