{% extends 'termsOfService/_base_tos.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.termsOfService.new'|trans }}{% endblock %}

{% block tosContent %}
    <div class="card card-body">
        <h1 class="card-title">{{ 'termsOfService.title.new'|trans }}</h1>
        {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
            {{ form_label(form.content) }}
            <div class="editor-container mb-3">
                {% include '_partials/ql-editor-toolbar.html.twig' %}
                <div id="editor"></div>
            </div>
            {{ form_widget(form.content) }}

            {{ form_label(form.contentAlt) }}
            <div class="editor-container mb-3">
                {% include '_partials/ql-editor-toolbar.html.twig' with {'editorToolbarId': 'editor-toolbar-alt', 'editorHtmlId': 'editor-html-alt'} %}
                <div id="editor-alt"></div>
            </div>
            {{ form_widget(form.contentAlt) }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-theme-white bg-blue">{{ 'common.save'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quill') }}
    <style>
        .editor-container {
            height: 440px;
            padding-bottom: 42px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quill') }}
    <script>
        function assignHtmlEditingCapabilities(button, quill) {
            button.addEventListener("click", () => {
                const textCancel = '{{ 'common.cancel'|trans }}';
                const textSubmit = '{{ 'common.submit'|trans }}';
                const component = parser.parseFromString(`
                    <div class="ql-html-backdrop">
                        <div class="ql-html-dialog">
                            <textarea class="ql-html-editor">${quill.root.innerHTML}</textarea>
                            <div class="ql-html-actions">
                                <button type="button" value="cancel" class="btn btn-theme-white bg-blue">${textCancel}</button>
                                <button type="button" value="submit" class="btn btn-theme-white bg-green">${textSubmit}</button>
                            </div>
                        </div>
                    </div>
                `, "text/html").body.firstChild;
                const editor = component.querySelector("textarea.ql-html-editor");

                component.querySelector("button[value='cancel']")?.addEventListener("click", (evt) => {
                    evt.target.closest(".ql-html-backdrop").remove();
                });

                component.querySelector("button[value='submit']")?.addEventListener("click", (evt) => {
                    quill.root.innerHTML = editor.value;
                    evt.target.closest(".ql-html-backdrop").remove();
                });

                document.body.appendChild(component);
            });
        }

        window.addEventListener("load", () => {
            const settings = { theme: "snow", modules: { toolbar: "#editor-toolbar" } };
            const settingsAlt = { theme: "snow", modules: { toolbar: "#editor-toolbar-alt" } };

            const quill = new Quill("#editor", settings);
            const quillAlt = new Quill("#editor-alt", settingsAlt);

            assignHtmlEditingCapabilities(document.getElementById("editor-html"), quill);
            assignHtmlEditingCapabilities(document.getElementById("editor-html-alt"), quillAlt);

            const form = document.querySelector('form#terms_of_service');
            form.onsubmit = function (e) {
                const content = this.querySelector("#terms_of_service_content");
                content.value = quill.root.innerHTML;
                const contentAlt = this.querySelector("#terms_of_service_contentAlt");
                contentAlt.value = quillAlt.root.innerHTML;
            }
        });
    </script>
{% endblock %}