{% trans_default_domain 'app' %}

<li class="mod--evaluation-evaluator">
    <div class="mod--evaluation-evaluator-details">
        <div class="mod--evaluation-evaluator-text">{{ evaluationEvaluator.name }}</div>
        <div class="mod--evaluation-evaluator-type">{{ evaluationEvaluator.type }}</div>
    </div>
    <div class="mod--evaluation-evaluator-actions">
        <form action="{{ path('evaluation_evaluator_delete', {'evaluationEvaluator': evaluationEvaluator.id}) }}" method="post" onsubmit="return confirm('{{ 'evaluationEvaluator.delete'|trans }}')">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('evaluationEvaluator.delete') }}"/>
            <button type="submit" class="btn btn-sm btn-round btn-theme-white bg-red">{{ mdi('trash-can-outline') }}</button>
        </form>
        <a href="{{ path('evaluation_evaluator_edit', {'evaluationEvaluator': evaluationEvaluator.id}) }}" class="btn btn-sm btn-round btn-theme-white bg-green">{{ mdi('cog') }}</a>
    </div>
</li>