{% trans_default_domain 'app' %}

<div class="evaluation-results">
    {% if results is not empty %}
        {% if evaluation.exportType not in [constant('EXPORT_TYPE_NONE', evaluation), constant('EXPORT_TYPE_COOKIE_BANNER', evaluation)] %}
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>{{ 'practicalSubmodule.extra.results.template'|trans }}</h2>
                <a href="{{ path('practical_submodule_export_results', {'practicalSubmodule': evaluation.id}) }}" class="btn btn-theme-white bg-green">
                    {{ (evaluation.exportType in [constant('EXPORT_TYPE_PRIVACY_POLICY', evaluation), constant('EXPORT_TYPE_PERSONAL_DATA_PROCESSING_CONSENT', evaluation), constant('EXPORT_TYPE_LIA', evaluation)] ? 'button.exportTemplate' : 'button.export')|trans }}
                </a>
            </div>
        {% else %}
            <h2 class="mb-3">{{ 'practicalSubmodule.extra.results.results'|trans }}</h2>
        {% endif %}
        {% if evaluation.exportType == constant('EXPORT_TYPE_COOKIE_BANNER', evaluation) and cookieBanner is not empty %}
            {% include 'export/cookieBanner.html.twig' %}
        {% else %}
            {% for result in results %}
                {% if result.textSet %}
                    {% if result.html %}
                        <div class="ql-editor">{{ result.displayableText|raw }}</div>
                    {% else %}
                        <div>{{ result.displayableText|raw|nl2br }}</div>
                    {% endif %}
                {% endif %}
                {% if result.areFilesSet %}
                    <p>
                        {% for file in result.files %}
                            <span class="evaluation-results-file" data-prefix="{{ 'common.file'|trans }}: ">
                            <a href="{{ path('file_fetch_uploaded_file', {'file': file.id}) }}">{{ file.originalName }}</a>
                        </span>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <p>{{ 'practicalSubmodule.extra.results.empty'|trans }}</p>
    {% endif %}
</div>
<hr>
<div class="evaluation-assessment-data">
    <div class="d-flex justify-content-between align-items-center">
        <h2>{{ 'practicalSubmodule.extra.results.report'|trans }}</h2>
        <a href="{{ path('file_fetch_practical_submodule_report_answers', {'practicalSubmodule': evaluation.id}) }}"
           class="btn btn-theme-white bg-green"
        >
            {{ 'practicalSubmoduleAssessment.action.downloadReport'|trans }}
        </a>
    </div>
    {% for _, answerDatum in answerData %}
        {% include 'evaluation/_results_advanced_assessment_data.html.twig' with {'answerDatum': answerDatum} %}
    {% endfor %}
</div>