{% trans_default_domain 'app' %}

{% if answerData is not empty %}
    {% if evaluation.exportType == constant('EXPORT_TYPE_SIMPLE', evaluation) %}
        <div class="text-center mb-3">
            <a href="{{ path('practical_submodule_export_results', {'practicalSubmodule': evaluation.id}) }}" class="btn btn-theme-white bg-green">{{ 'button.export'|trans }}</a>
        </div>
    {% endif %}
    
    {% for answerDatum in answerData %}
        {% if answerDatum.result.questionSet %}
            <div class="evaluation-assessment-data mb-3">
                <div class="evaluation-assessment-datum">
                    <div class="evaluation-assessment-datum-question">{{ answerDatum.result.question.questionText }}</div>
                    {% for answer in answerDatum.answers %}
                        <div class="evaluation-assessment-datum-answer">{{ answer|trans|raw|nl2br }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="evaluation-results">
            {% if answerDatum.result.textSet %}
                {% if answerDatum.result.html %}
                    <div class="ql-editor">{{ answerDatum.result.displayableText|raw }}</div>
                {% else %}
                    <div>{{ answerDatum.result.displayableText|raw|nl2br }}</div>
                {% endif %}
            {% endif %}
            {% if answerDatum.result.areFilesSet %}
                <p>
                    {% for file in answerDatum.result.files %}
                        <span class="evaluation-results-file" data-prefix="{{ 'common.file'|trans }}: ">
                            <a href="{{ path('file_fetch_uploaded_file', {'file': file.id}) }}">{{ file.originalName }}</a>
                        </span>

                    {% endfor %}
                </p>
            {% endif %}
        </div>
        {% if not loop.last %}<hr/>{% endif %}
    {% endfor %}
{% else %}
    <p>{{ 'practicalSubmodule.extra.results.empty'|trans }}</p>
{% endif %}