{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.evaluation.assessment'|trans }}{% endblock %}

{% block evaluationContent %}
    <form id="evaluation_assessment"
          class="evaluation-assessment"
          action="{{ path('practical_submodule_assessment_finish', {'practicalSubmoduleAssessment': assessment.id}) }}"
          method="post"
    >
        <input type="hidden" name="_csrf_token" value="{{ csrf_token("practicalSubmoduleAssessment.finish") }}"/>
    </form>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-theme-white bg-green" form="evaluation_assessment">{{ 'common.submit'|trans }}</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('EventBus') }}
    {{ encore_entry_script_tags('EvaluationAssessment') }}
    <script>
        window.addEventListener("load", () => {
            const evaluationAssessment = new EvaluationAssessment("#evaluation_assessment", {{ assessment|json_encode|raw }});
        });
    </script>
{% endblock %}