{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    {% if is_granted('ROLE_MODERATOR') %}
        {% if evaluation.evaluationQuestions is not empty %}
            <ul class="mod--evaluation-questions">
                {% for evaluationQuestion in evaluation.evaluationQuestions %}
                    <li class="mod--evaluation-question">
                        <div class="mod--evaluation-question-details">
                            <div class="mod--evaluation-question-text">{{ evaluationQuestion.questionText }}</div>
                            <div class="mod--evaluation-question-type">{{ evaluationQuestion.type }}</div>
                        </div>
                        <div class="mod--evaluation-question-actions">
                            <a href="#" class="btn btn-sm btn-round btn-theme-white bg-red">{{ mdi('trash-can-outline') }}</a>
                            <a href="{{ path('evaluation_question_edit', {'evaluationQuestion': evaluationQuestion.id}) }}" class="btn btn-sm btn-round btn-theme-white bg-green">{{ mdi('pencil') }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'evaluationQuestion.empty'|trans }}</p>
        {% endif %}
        <div class="text-end">
            <a href="{{ path('evaluation_add_question', {'evaluation': evaluation.id}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'evaluation.extra.question'|trans }}</a>
        </div>
        <hr>
        <p>{{ 'evaluationEvaluator.empty'|trans }}</p>
        <div class="text-end">
            <a href="#" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'evaluation.extra.evaluator'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
