{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    {% if is_granted('ROLE_MODERATOR') %}

        {% include 'evaluation/_evaluate_mod_questions.html.twig' %}
        <hr>
        {% include 'evaluation/_evaluate_mod_processors.html.twig' %}
        {% if evaluation.paging %}
            <hr>
            {% include 'evaluation/_evaluate_mod_pages.html.twig' %}
        {% endif %}

    {% elseif is_user() %}

        <div class="evaluation-assessment-intro">
            <p>{{ 'practicalSubmoduleAssessment.message.1'|trans({'%questionCount%': questionCount})|raw }}</p>
            <p>{{ 'practicalSubmoduleAssessment.message.2'|trans|raw }}</p>
            <p>{{ 'practicalSubmoduleAssessment.message.3'|trans|raw }}</p>
            <div class="d-flex justify-content-center">
                <form action="{{ path('practical_submodule_start_assessment', {'practicalSubmodule': evaluation.id}) }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('practicalSubmoduleAssessment.start') }}"/>
                    <button type="submit" class="btn btn-theme-white bg-blue">{{ 'practicalSubmoduleAssessment.action.start'|trans }}</button>
                </form>
                {% if assessmentCompleted %}
                    <a href="{{ path('practical_submodule_results', {'practicalSubmodule': evaluation.id}) }}" class="btn btn-theme-white bg-red ms-3">{{ 'button.results'|trans }}</a>
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_MODERATOR') %}
        {{ encore_entry_script_tags('axios') }}
        {{ encore_entry_script_tags('sortable') }}
        {{ encore_entry_script_tags('Reorderer') }}
        {{ encore_entry_script_tags('evaluation.questions.sort') }}
        {{ encore_entry_script_tags('evaluation.evaluators.sort') }}
    {% endif %}
{% endblock %}