{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    {% if is_granted('ROLE_MODERATOR') %}

        <h2 class="mb-3">{{ 'evaluation.extra.questions'|trans }}</h2>
        {% if evaluation.evaluationQuestions is not empty %}
            <ul class="mod--evaluation-questions">
                {% for evaluationQuestion in evaluation.evaluationQuestions %}
                    {% include 'evaluation/_evaluate_mod_evaluationQuestion.html.twig' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'evaluationQuestion.empty'|trans }}</p>
        {% endif %}
        <div class="text-end">
            <a href="{{ path('evaluation_add_question', {'evaluation': evaluation.id}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'evaluation.extra.question'|trans }}</a>
        </div>

        <hr>

        <h2 class="mb-3">{{ 'evaluation.extra.evaluators'|trans }}</h2>
        {% if evaluation.evaluationEvaluators is not empty %}
            <ul class="mod--evaluation-evaluators">
                {% for evaluationEvaluator in evaluation.evaluationEvaluators %}
                    {% include 'evaluation/_evaluate_mod_evaluationEvaluator.html.twig' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'evaluationEvaluator.empty'|trans }}</p>
        {% endif %}
        <div class="text-end">
            <a href="{{ path('evaluation_add_evaluator', {'evaluation': evaluation.id}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'evaluation.extra.evaluator'|trans }}</a>
        </div>

    {% elseif is_user() %}

        <div class="evaluation-assessment-intro">
            <p>{{ 'evaluationAssessment.message.1'|trans({'%questionCount%': evaluation.evaluationQuestions|length})|raw }}</p>
            <p>{{ 'evaluationAssessment.message.2'|trans|raw }}</p>
            <p>{{ 'evaluationAssessment.message.3'|trans|raw }}</p>
            <div class="d-flex justify-content-center">
                <form action="{{ path('evaluation_start_assessment', {'evaluation': evaluation.id}) }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('evaluationAssessment.start') }}"/>
                    <button type="submit" class="btn btn-theme-white bg-blue">{{ 'evaluationAssessment.action.start'|trans }}</button>
                </form>
                {% if assessmentCompleted %}
                    <a href="#" class="btn btn-theme-white bg-red ms-3">{{ 'button.results'|trans }}</a>
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}