{% extends 'evaluation/_base_evaluation.html.twig' %}
{% trans_default_domain 'app' %}

{% block evaluationContent %}
    <div class="evaluation-results">
        {% for result in results %}
            <p>{{ result|nl2br }}</p>
        {% else %}
            <p>{{ 'evaluation.extra.results.empty'|trans }}</p>
        {% endfor %}
    </div>
    <hr>
    <div class="evaluation-assessment-data">
        {% for assessmentAnswer in evaluationAssessment.evaluationAssessmentAnswers %}
            <div class="evaluation-assessment-datum">
                <div class="evaluation-assessment-datum-question">{{ assessmentAnswer.evaluationQuestion.questionText }}</div>
                <div class="evaluation-assessment-datum-answer">
                    {% if assessmentAnswer.evaluationQuestionAnswer is not null %}
                        {{ assessmentAnswer.evaluationQuestionAnswer.answerText|trans|nl2br }}
                    {% else %}
                        {{ assessmentAnswer.answerValue }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <p class="text-center">{{ 'evaluation.extra.results.final'|trans }}</p>
{% endblock %}