{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}
	<div class="index-banner" style="background-image: url('{{ asset('build/images/bg-index.png') }}')">
		<div class="container index-banner-wrapper">
			<div class="index-banner-title">{{ 'app.brand.short'|trans }}</div>
			<div class="index-banner-subtitle">{{ 'nav.news'|trans }}</div>
		</div>
	</div>
	
	<div class="container py-5">
		{% include '_partials/toasts.html.twig' %}
		<div class="news-header">
			<a href="{{ path('news_index') }}" class="news-header-back">
				{{ mdi('chevron-left') }}
				<span>{{ 'common.back'|trans }}</span>
			</a>
			<h1 class="news-header-title">{{ newsItem.title }}</h1>
			<span class="news-header-date">{{ newsItem.createdAt|date('d.m.Y.') }}</span>
		</div>
		{% if is_granted('ROLE_MODERATOR') %}
			<div class="d-flex gap-2 align-items-center justify-content-center mb-4">
				<a href="{{ path('news_edit', {'newsItem': newsItem.id}) }}" class="btn btn-theme-white bg-blue">{{ 'common.edit'|trans }}</a>
				<form action="{{ path('news_delete', {'newsItem': newsItem.id}) }}" method="post" onsubmit="return confirm(`{{ 'newsItem.message.delete'|trans }}`)">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('news.delete') }}"/>
					<button type="submit" class="btn btn-theme-white bg-red">{{ 'common.delete'|trans }}</button>
				</form>
			</div>
		{% endif %}
		<article class="ql-editor">{{ newsItem.content|raw }}</article>
	</div>
{% endblock %}

{% block stylesheets %}
	<style>
        .body { background-color: white; }
	</style>
{% endblock %}