{% trans_default_domain 'app' %}

{{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}

    {% if lessonType == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ form_label(form.content) }}
        <div class="editor-container mb-3">
            <div id="editor"></div>
        </div>
        {{ form_widget(form.content) }}
    {% elseif lessonType == constant('App\\Entity\\Lesson::TYPE_FILE') %}
        {{ form_label(form.file) }}
        {{ form_widget(form.file) }}
    {% elseif lessonType == constant('App\\Entity\\Lesson::TYPE_VIDEO') %}
        {{ form_label(form.video) }}
        {{ form_widget(form.video) }}
    {% endif %}
{{ form_end(form) }}