{% trans_default_domain 'app' %}

{% if is_granted('ROLE_MODERATOR') %}

    <div class="quiz-questions-overview">
        {% for question in lessonItem.quizQuestions %}
            <div class="quiz-question">
                <div class="quiz-question-main">
                    <div class="quiz-question-text">{{ question.text }}</div>
                    <div class="quiz-question-correct-answer">
                        <span style="font-weight: 600">{{ 'form.entity.quizQuestion.label.correctAnswer'|trans }}:</span>
                        {{ question.correctAnswer ? 'common.trueValue'|trans : 'common.falseValue'|trans }}
                    </div>
                    <div class="quiz-question-explanation">{{ question.explanation }}</div>
                </div>
                <div class="quiz-question-side align-self-end">
                    <a href="{{ path('quiz_question_edit', {'quizQuestion': question.id}) }}" class="btn btn-theme-white bg-green">{{ 'common.edit'|trans }}</a>
                    <form action="{{ path('quiz_question_delete', {'quizQuestion': question.id}) }}" method="post" class="d-inline-block" onsubmit="return confirm('{{ 'quizQuestion.delete'|trans }}')">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token("quiz.question.delete") }}">
                        <button type="submit" class="btn btn-theme-white bg-red">{{ 'common.delete'|trans }}</button>
                    </form>
                </div>
            </div>
            {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
    </div>

{% endif %}