{% trans_default_domain 'app' %}

<div class="lesson-section-main lesson-content">
    <h2 class="lesson-section-main-caption">{{ lesson.name }}</h2>

    <div class="lesson-section-main-content">
        {% if lesson.type == constant('TYPE_TEXT', lesson) %}
            {% include 'lesson/_show_lesson_text.html.twig' %}
        {% elseif lesson.type == constant('TYPE_FILE', lesson) %}
            {% include 'lesson/_show_lesson_file.html.twig' %}
        {% elseif lesson.type == constant('TYPE_VIDEO', lesson) %}
            {% include 'lesson/_show_lesson_video.html.twig' %}
        {% elseif lesson.type == constant('TYPE_QUIZ', lesson) %}
            {% include 'lesson/_show_lesson_quiz.html.twig' %}
        {% endif %}
    </div>

    <div class="lesson-section-main-navigation">
        {% if previousLesson is not null %}
            <a href="{{ path('lesson_show', {'lesson': previousLesson.id}) }}" class="lesson-section-main-navigation-previous">{{ 'common.previous'|trans }}</a>
        {% endif %}
        {% if nextLesson is not null %}
            <a href="{{ path('lesson_show', {'lesson': nextLesson.id}) }}" class="lesson-section-main-navigation-next">{{ 'common.next'|trans }}</a>
        {% endif %}
    </div>
</div>