<div class="lesson-section-side lesson-section-navigation lesson-content">
    <a class="lesson-section-navigation-caption" href="{{ path('lesson_course', {'course': lesson.course.id}) }}">
        {{ mdi('arrow-left-circle', 'lesson-section-navigation-back-icon') }}
        {{ lesson.course.name }}
    </a>
    {% for lessonInfo in lessonsInfo %}
        <div class="lesson-section-navigation-item{% if lessonInfo.lesson.id == lesson.id %} active{% endif %}">
            {% if is_user() %}
                {% if lessonInfo.lesson.type == constant('TYPE_QUIZ', lessonInfo.lesson) %}
                    <div class="lesson-nav-quiz-completion failed">
                        {{ mdi('trophy-variant', 'lesson-section-navigation-item-completion-icon') }}
                    </div>
                {% else %}
                    <button class="completion-marker btn btn-round {{ lessonInfo.completed ? 'btn-theme-white bg-green' : 'btn-thematic-gray-to-green' }}"
                            data-path="{{ lessonInfo.toggleUrl }}"
                    >
                        {{ mdi('check', 'lesson-section-navigation-item-completion-icon') }}
                    </button>
                {% endif %}
            {% endif %}
            <a class="lesson-section-navigation-item-name-and-type" href="{{ lessonInfo.showUrl }}">
                <div class="lesson-section-navigation-item-name">{{ lessonInfo.lesson.name }}</div>
                <div class="lesson-section-navigation-item-type">{% include 'lesson/_show_lessonType.html.twig' with {'lesson': lessonInfo.lesson} %}</div>
            </a>
        </div>
    {% endfor %}
</div>