{% trans_default_domain 'app' %}

<div class="lesson-section-main lesson-content">
    {% include '_partials/toasts.html.twig' %}

    <div class="d-flex justify-content-between align-items-center">
        <h2 class="lesson-section-main-caption">{{ lesson.name }}</h2>
        {% if lesson.type != constant('TYPE_QUIZ', lesson) %}
            <button type="button" class="btn btn-theme-white bg-blue btn-round" data-modal-open="#notes-modal">{{ mdi('text-long') }}</button>
            <div class="modal" id="notes-modal">
                <div class="modal-dialog">
                    <div class="lesson-notes">
                        <div>
                            <h2 class="lesson-notes-caption">{{ 'lesson.extra.notes'|trans }}</h2>
                            <small>{{ 'lesson.extra.notesVisibility'|trans }}</small>
                        </div>
                        <label class="lesson-notes-content">
                            <textarea id="notes">{% if note is not null %}{{ note.text|raw }}{% endif %}</textarea>
                        </label>
                        <div class="lesson-notes-actions">
                            <button type="button" class="btn btn-link" data-modal-close="#notes-modal">{{ 'common.cancel'|trans }}</button>
                            <button id="save-notes" type="button" class="btn btn-theme-white bg-blue" data-path="{{ path('note_update') }}" data-lesson="{{ lesson.id }}"
                                    data-user="{{ app.user.id }}">
                                {{ 'common.save'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="lesson-section-main-content">
        {% if lesson.type == constant('TYPE_TEXT', lesson) %}
            {% include 'lesson/_show_lesson_text.html.twig' %}
        {% elseif lesson.type == constant('TYPE_FILE', lesson) %}
            {% include 'lesson/_show_lesson_file.html.twig' %}
        {% elseif lesson.type == constant('TYPE_VIDEO', lesson) %}
            {% include 'lesson/_show_lesson_video.html.twig' %}
        {% elseif lesson.type == constant('TYPE_QUIZ', lesson) %}
            {% include 'lesson/_show_lesson_quiz.html.twig' %}
        {% endif %}
    </div>

    <div class="lesson-section-main-navigation">
        {% if previousLesson is not null %}
            <a href="{{ path('lesson_show', {'lesson': previousLesson.id}) }}" class="lesson-section-main-navigation-previous">{{ 'common.previous'|trans }}</a>
        {% endif %}
        {% if nextLesson is not null %}
            <a href="{{ path('lesson_show', {'lesson': nextLesson.id}) }}" class="lesson-section-main-navigation-next">{{ 'common.next'|trans }}</a>
        {% endif %}
    </div>
</div>