{% extends 'lesson/_base_courseLesson.html.twig' %}
{% trans_default_domain 'app' %}

{% set canView = is_granted('view', course) %}

{% block lessonContentAdditionalClasses %}{% if not canView %}min-h-500px{% endif %}{% endblock %}

{% block lessonContent %}
    <div id="lesson-items" class="lesson-items"{% if is_granted('ROLE_MODERATOR') %} data-path="{{ path('lesson_reorder') }}"{% endif %}>
        {% for lessonInfo in lessonsInfo %}
            {% include 'lesson/_course_lessonItem.html.twig' with {'lessonInfo': lessonInfo} %}
        {% else %}
            <div>{{ 'lesson.extra.noLessons'|trans }}</div>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_MODERATOR') %}
        <div class="lesson-actions">
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'text'}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'lesson.extra.text'|trans }}</a>
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'file'}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'lesson.extra.file'|trans }}</a>
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'video'}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'lesson.extra.video'|trans }}</a>
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'quiz'}) }}" class="btn btn-link btn-sm">{{ mdi('plus') }} {{ 'lesson.extra.quiz'|trans }}</a>
        </div>
    {% endif %}

    {% if not canView %}
        <div class="course-enrollment-space">
            <div class="card sharp course-enrollment-card">
                {% if is_granted('ROLE_MODERATOR') or is_enrolled(course, app.user) %}
                    <div class="card-actions">
                        <a href="{{ path('lesson_course', {'course': course.id}) }}" class="btn btn-theme-white bg-orange w-100 py-4">{{ 'course.nav.lessons'|trans }}</a>
                    </div>
                {% elseif is_user() %}
                    <div class="card-text">
                        <p class="course-free">{{ 'extra.free'|trans }}</p>
                    </div>
                    <div class="card-actions">
                        <a href="{{ path('course_enroll', {'course': course.id}) }}" class="btn btn-theme-white bg-orange w-100 py-4" onclick='return confirm("{{ 'course.enroll.message'|trans({'%course%': course.name}) }}")'>{{ 'button.startNow'|trans }}</a>
                    </div>
                {% else %}
                    <div class="card-text">
                        <p class="course-free">{{ 'extra.free'|trans }}</p>
                    </div>
                    <div class="card-actions">
                        <a href="{{ path('security_login') }}" class="btn btn-theme-white bg-orange w-100 py-4">{{ 'button.loginToEnroll'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('axios') }}
    {% if is_granted('ROLE_MODERATOR') %}
        {{ encore_entry_script_tags('sortable') }}
        {{ encore_entry_script_tags('Reorderer') }}
        {{ encore_entry_script_tags('lessons.sort') }}
    {% endif %}
    {% if is_user() and canView %}
        {{ encore_entry_script_tags('lessons.completion.outer') }}
    {% endif %}
{% endblock %}