{% extends 'lesson/_base_courseLesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-items">
        {% for lesson in lessons %}
            {% include 'lesson/_course_lessonItem.html.twig' with {'lesson': lesson} %}
        {% else %}
            <div>{{ 'lesson.extra.noLessons'|trans }}</div>
        {% endfor %}
        {% if is_granted('ROLE_MODERATOR') %}
            <div class="lesson-item--actions">
                <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'text'}) }}" class="btn btn-link btn-sm">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                    </svg>
                    {{ 'lesson.extra.text'|trans }}
                </a>
                <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'file'}) }}" class="btn btn-link btn-sm">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                    </svg>
                    {{ 'lesson.extra.file'|trans }}
                </a>
                <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'video'}) }}" class="btn btn-link btn-sm">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                    </svg>
                    {{ 'lesson.extra.video'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}