{% extends 'lesson/_base_courseLesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div id="lesson-items" class="lesson-items"{% if is_granted('ROLE_MODERATOR') %} data-path="{{ path('lesson_reorder') }}"{% endif %}>
        {% for lessonInfo in lessonsInfo %}
            {% include 'lesson/_course_lessonItem.html.twig' with {'lessonInfo': lessonInfo} %}
        {% else %}
            <div>{{ 'lesson.extra.noLessons'|trans }}</div>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_MODERATOR') %}
        <div class="lesson-actions">
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'text'}) }}" class="btn btn-link btn-sm">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
                {{ 'lesson.extra.text'|trans }}
            </a>
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'file'}) }}" class="btn btn-link btn-sm">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
                {{ 'lesson.extra.file'|trans }}
            </a>
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'video'}) }}" class="btn btn-link btn-sm">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
                {{ 'lesson.extra.video'|trans }}
            </a>
            <a href="{{ path('lesson_new', {'course': course.id, 'lessonType': 'quiz'}) }}" class="btn btn-link btn-sm">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
                {{ 'lesson.extra.quiz'|trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('axios') }}
    {% if is_granted('ROLE_MODERATOR') %}
        {{ encore_entry_script_tags('sortable') }}
        {{ encore_entry_script_tags('lessons.sort') }}
    {% endif %}
    {% if is_user() %}
        {{ encore_entry_script_tags('lessons.completion.outer') }}
    {% endif %}
{% endblock %}