{% extends 'lesson/_base_lesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-sections">
        {% include 'lesson/_show_sectionNav.html.twig' %}
        <div class="lesson-section-main lesson-content">
            {% include '_partials/toasts.html.twig' %}
            <h2 class="lesson-section-main-caption">{{ 'lesson.edit'|trans({'%lesson%': lesson.name})|raw }}</h2>
            <div class="lesson-section-main-content">
                {% include 'lesson/_form.html.twig' with {'lessonType': lesson.type} %}
                <button type="submit" class="btn btn-theme-white bg-blue float-end" form="{{ form.vars.id }}">{{ 'common.submit'|trans }}</button>
            </div>
        </div>
        {% include 'lesson/_show_sectionOther.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if lesson.type == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ encore_entry_link_tags('quill') }}
        <style>
            .editor-container {
                height: 440px;
                padding-bottom: 42px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if lesson.type == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ encore_entry_script_tags('quill') }}
        <script>
            window.onload = () => {
                const settings = { theme: "snow", modules: { toolbar: "#editor-toolbar" } };
                const quill = new Quill("#editor", settings);

                quill.root.innerHTML = `{{ lessonItem.text|raw }}`;

                document.getElementById("editor-html").addEventListener("click", () => {
                    const textCancel = '{{ 'common.cancel'|trans }}';
                    const textSubmit = '{{ 'common.submit'|trans }}';
                    const component = parser.parseFromString(`
                    <div class="ql-html-backdrop">
                        <div class="ql-html-dialog">
                            <textarea class="ql-html-editor">${quill.root.innerHTML}</textarea>
                            <div class="ql-html-actions">
                                <button type="button" value="cancel" class="btn btn-theme-white bg-blue">${textCancel}</button>
                                <button type="button" value="submit" class="btn btn-theme-white bg-green">${textSubmit}</button>
                            </div>
                        </div>
                    </div>
                `, "text/html").body.firstChild;
                    const editor = component.querySelector("textarea.ql-html-editor");

                    component.querySelector("button[value='cancel']")?.addEventListener("click", (evt) => {
                        evt.target.closest(".ql-html-backdrop").remove();
                    });

                    component.querySelector("button[value='submit']")?.addEventListener("click", (evt) => {
                        quill.root.innerHTML = editor.value;
                        evt.target.closest(".ql-html-backdrop").remove();
                    });

                    document.body.appendChild(component);
                });

                const form = document.querySelector("form#lesson");
                form.onsubmit = function(e) {
                    const content = this.querySelector("#lesson_text");
                    content.value = quill.root.innerHTML;
                };
            };
        </script>
    {% endif %}
    {% if lesson.type == constant('App\\Entity\\Lesson::TYPE_QUIZ') %}
        {{ encore_entry_script_tags('lessons.quiz.passingPercentage') }}
    {% endif %}
{% endblock %}