{% extends 'lesson/_base_courseLesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    {% include 'lesson/_form.html.twig' %}
    <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-theme-white bg-blue" form="lesson">{{ 'common.submit'|trans }}</button>
        <a href="{{ path('lesson_course', {'course': course.id}) }}" class="btn btn-link">{{ 'common.cancel'|trans }}</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if lessonType == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ encore_entry_link_tags('quill') }}
        <style>
            .editor-container {
                height: 440px;
                padding-bottom: 42px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if lessonType == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ encore_entry_script_tags('quill') }}
        <script>
            window.onload = () => {
                const settings = {
                    theme: "snow",
                    modules: {
                        toolbar: [
                            [{header: []}, {font: []}, {background: []}],
                            ['bold', 'italic', 'underline', 'strike'],
                            [{align: []}, {list: 'ordered'}, {list: 'bullet'}, {indent: '-1'}, {indent: '+1'}],
                            ['link', 'image']
                        ]
                    }
                };

                const quill = new Quill("#editor", settings);
                const quillAlt = new Quill("#editor-alt", settings);

                const form = document.querySelector("form#lesson");
                form.onsubmit = function(e) {
                    const text = this.querySelector("#lesson_text");
                    text.value = quill.root.innerHTML;
                    const textAlt = this.querySelector("#lesson_textAlt");
                    textAlt.value = quillAlt.root.innerHTML;
                };
            };
        </script>
    {% endif %}
{% endblock %}