{% extends 'lesson/_base_courseLesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    {% include 'lesson/_form.html.twig' %}
    <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-theme-white bg-blue" form="lesson">{{ 'common.submit'|trans }}</button>
        <a href="{{ path('lesson_course', {'course': course.id}) }}" class="btn btn-link">{{ 'common.cancel'|trans }}</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if lessonType == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ encore_entry_link_tags('quill') }}
        <style>
            .editor-container {
                height: 440px;
                padding-bottom: 42px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if lessonType == constant('App\\Entity\\Lesson::TYPE_TEXT') %}
        {{ encore_entry_script_tags('quill') }}
        <script>
            function assignHtmlEditingCapabilities(button, quill) {
                button.addEventListener("click", () => {
                    const textCancel = '{{ 'common.cancel'|trans }}';
                    const textSubmit = '{{ 'common.submit'|trans }}';
                    const component = parser.parseFromString(`
                    <div class="ql-html-backdrop">
                        <div class="ql-html-dialog">
                            <textarea class="ql-html-editor">${quill.root.innerHTML}</textarea>
                            <div class="ql-html-actions">
                                <button type="button" value="cancel" class="btn btn-theme-white bg-blue">${textCancel}</button>
                                <button type="button" value="submit" class="btn btn-theme-white bg-green">${textSubmit}</button>
                            </div>
                        </div>
                    </div>
                `, "text/html").body.firstChild;
                    const editor = component.querySelector("textarea.ql-html-editor");

                    component.querySelector("button[value='cancel']")?.addEventListener("click", (evt) => {
                        evt.target.closest(".ql-html-backdrop").remove();
                    });

                    component.querySelector("button[value='submit']")?.addEventListener("click", (evt) => {
                        quill.root.innerHTML = editor.value;
                        evt.target.closest(".ql-html-backdrop").remove();
                    });

                    document.body.appendChild(component);
                });
            }

            window.onload = () => {
                const settings = { theme: "snow", modules: { toolbar: "#editor-toolbar" } };
                const settingsAlt = { theme: "snow", modules: { toolbar: "#editor-toolbar-alt" } };

                const quill = new Quill("#editor", settings);
                const quillAlt = new Quill("#editor-alt", settingsAlt);

                assignHtmlEditingCapabilities(document.getElementById("editor-html"), quill);
                assignHtmlEditingCapabilities(document.getElementById("editor-html-alt"), quillAlt);

                const form = document.querySelector("form#lesson");
                form.onsubmit = function(e) {
                    const text = this.querySelector("#lesson_text");
                    text.value = quill.root.innerHTML;
                    const textAlt = this.querySelector("#lesson_textAlt");
                    textAlt.value = quillAlt.root.innerHTML;
                };
            };
        </script>
    {% endif %}
    {% if lessonType == constant('App\\Entity\\Lesson::TYPE_QUIZ') %}
        {{ encore_entry_script_tags('lessons.quiz.passingPercentage') }}
    {% endif %}
{% endblock %}