{% extends 'lesson/_base_lesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-sections">
        {% include 'lesson/_show_sectionNav.html.twig' %}
        <div class="lesson-section-main lesson-content">
            {{ form_start(form, {'attr': {'onsubmit': 'return confirm("'~'lesson.quiz.submit'|trans~'")'}}) }}
                {% for answer in form.answers %}
                    <div class="lesson-quiz-quiz-item">
                        <p>{{ answer.vars.data.text }}</p>
                        {{ form_widget(answer.answer) }}
                    </div>
                {% endfor %}
                <div class="align-self-end">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('quiz.finish') }}"/>
                    <button type="submit" class="btn btn-theme-white bg-green">{{ 'common.submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_user() %}
        {{ encore_entry_script_tags('axios') }}
        {{ encore_entry_script_tags('lessons.completion.inner') }}
    {% endif %}
{% endblock %}