{% extends 'lesson/_base_lesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-sections">
        {% include 'lesson/_show_sectionNav.html.twig' %}
        <div class="lesson-section-main lesson-content">
            {{ form_start(form) }}
                {% for answer in form.answers %}
                    <div class="lesson-quiz-quiz-item">
                        <p>{{ answer.vars.data.text }}</p>
                        {{ form_widget(answer.answer) }}
                    </div>
                {% endfor %}
                <div class="align-self-end">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('quiz.finish') }}"/>
                    <button type="submit" class="btn btn-theme-white bg-green">{{ 'common.submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .lesson-quiz-quiz {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }

        .lesson-quiz-quiz hr {
            border-color: rgba(0, 0, 0, 0.125);
        }

        .lesson-quiz-quiz-item {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            background-color: rgba(0, 0, 0, 0.0625);
            border-radius: 8px;
            padding: 16px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_user() %}
        {{ encore_entry_script_tags('axios') }}
        {{ encore_entry_script_tags('notes.update') }}
        {{ encore_entry_script_tags('lessons.completion.inner') }}
    {% endif %}
{% endblock %}