{% extends 'lesson/_base_lesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-sections">
        {% include 'lesson/_show_sectionNav.html.twig' %}
        {% include 'lesson/_show_sectionMain.html.twig' %}
    </div>
    {% if playTrophyAnimation == true %}
        <div class="trophy-anim-background"></div>
        <div class="trophy-anim-trophy">
            {{ mdi('trophy-variant') }}
        </div>
        <div class="trophy-anim-shine">
            {{ mdi('decagram') }}
        </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quill') }}
    {% if is_user() %}
        {{ encore_entry_link_tags('modal') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_user() %}
        {{ encore_entry_script_tags('axios') }}
        {{ encore_entry_script_tags('notes.update') }}
        {{ encore_entry_script_tags('lessons.completion') }}
        {{ encore_entry_script_tags('modal') }}
    {% endif %}
{% endblock %}