{% extends 'lesson/_base_lesson.html.twig' %}
{% trans_default_domain 'app' %}

{% block lessonContent %}
    <div class="lesson-sections">
        {% include 'lesson/_show_sectionNav.html.twig' %}
        {% include 'lesson/_show_sectionMain.html.twig' %}
        {% include 'lesson/_show_sectionOther.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quill') }}
    <style>
        .btn.btn-round {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 0;
            min-width: unset;
            width: 32px;
            height: 32px;
        }

        .btn.btn-thematic-gray-to-green {
            background-color: rgba(0, 0, 0, 0.125);
            color: white;
        }

        .btn.btn-thematic-gray-to-green:hover {
            background-color: var(--app-color-green);
        }

        .lesson-section-navigation-item-completion-icon {
            width: 24px;
            height: 24px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_user() %}
        {{ encore_entry_script_tags('axios') }}
        {{ encore_entry_script_tags('notes.update') }}
        {{ encore_entry_script_tags('lessons.completion.inner') }}
    {% endif %}
{% endblock %}