{% trans_default_domain 'app' %}

{% set extendSessionTranslations = {
    'title': ('extra.extendSession.title'|trans),
    'text': ('extra.extendSession.text'|trans),
    'cancel': ('common.cancel'|trans),
    'extend': ('extra.extendSession.extend'|trans)
} %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('popper.dropdown') }}
        {{ encore_entry_link_tags('session.extend') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('popper.dropdown') }}
        {{ encore_entry_script_tags('session.extend') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body data-extend-session-path="{{ path('extend_session') }}" data-extend-session-translations="{{ extendSessionTranslations|json_encode }}">
        <header>
            {% include 'nav.html.twig' %}
            {% block header %}{% endblock %}
        </header>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        <footer>{% block footer %}{% include 'footer.html.twig' %}{% endblock %}</footer>
        {% if is_granted('IS_IMPERSONATOR') %}
            {% include '_partials/exit_immitation.html.twig' %}
        {% endif %}
    </body>
</html>
