{% trans_default_domain 'app' %}

<div class="footer-1">
    <div class="container footer-column">
        <div>{{ 'footer.contact'|trans }}</div>
        <div>{{ 'footer.projectUrl'|trans|raw }}</div>
        <div>{{ 'footer.text'|trans }}</div>
    </div>
</div>

<div class="footer-2">
    <div class="container footer-column">
        <img class="footer-cofinancing" src="{{ asset('build/images/footer-cofinancing.jpg') }}" alt="Logo of the European Union"/>
        <img class="footer-logos" src="{{ asset('build/images/footer-logos.png') }}" alt="Logo of ARC II project partners"/>
    </div>
</div>