{% trans_default_domain 'app' %}

<div class="container{% if wide is defined and wide == true %}-fluid{% endif %}">
    <div class="row">
        <nav class="navigation-responsive">
            <button class="navigation-open btn btn-theme-white">{{ mdi('menu') }}</button>
            <ul class="navigation-main">
                <li><a href="{{ path('index') }}" class="btn btn-theme-white">{{ 'nav.home'|trans }}</a></li>
                <li><a href="{{ path('course_index') }}" class="btn btn-theme-white">{{ 'nav.training'|trans }}</a></li>
                <li><a href="{{ path('practical_submodule_index') }}" class="btn btn-theme-white">{{ 'nav.practice'|trans }}</a></li>
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li><a href="{{ path('tos_index') }}" class="btn btn-theme-white">{{ 'nav.termsOfService'|trans }}</a></li>
                    {% endif %}
                    <li>
                        <button id="profile-button" class="btn btn-theme-white">{{ app.user.email }}</button>
                        <ul class="dropdown" data-dropdown data-for="#profile-button">
                            <li class="dropdown-item"><a href="{{ path('gdpr_index') }}">{{ 'nav.gdpr'|trans }}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown-item"><a href="{{ path('admin_index') }}">{{ 'nav.admin'|trans }}</a></li>
                            {% endif %}
                            <li class="dropdown-item"><a href="{{ path('security_logout') }}">{{ 'common.logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a href="{{ path('security_login') }}" class="btn btn-theme-white">{{ 'common.login'|trans }}</a>
                {% endif %}
                <li>
                    <button id="locale-button" class="btn btn-theme-white">
                        {{ mdi('web', 'mt-1') }}
                        <sup class="nav-locale">{{ app.request.locale }}</sup>
                    </button>
                    <ul class="dropdown" data-dropdown data-for="#locale-button">
                        {% set currentRoute = app.request.attributes.get('_route', 'index') %}
                        {% set currentRouteParams = app.request.attributes.get('_route_params', {}) %}
                        <li class="dropdown-item"><a href="{{ path(currentRoute, currentRouteParams|merge({'_locale': locale_default})) }}">{{ locale_default }}</a></li>
                        <li class="dropdown-item"><a href="{{ path(currentRoute, currentRouteParams|merge({'_locale': locale_alternate})) }}">{{ locale_alternate }}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>