{% trans_default_domain 'app' %}

<div class="container{% if wide is defined and wide == true %}-fluid{% endif %}">
    <div class="row">
        <nav class="navigation-responsive">
            <button class="navigation-open btn btn-theme-white">{{ mdi('menu') }}</button>
            <ul class="navigation-main">
                <li><a href="{{ path('course_index') }}" class="btn btn-theme-white">{{ 'nav.training'|trans({}, 'app', app.request.locale) }}</a></li>
                <li><a href="{{ path('practical_submodule_index') }}" class="btn btn-theme-white">{{ 'nav.practice'|trans({}, 'app', app.request.locale) }}</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('tos_index') }}" class="btn btn-theme-white">{{ 'nav.termsOfService'|trans({}, 'app', app.request.locale) }}</a></li>
                    <li>
                        <button id="profile-button" class="btn btn-theme-white">{{ app.user.email }}</button>
                        <ul class="dropdown" data-dropdown data-for="#profile-button">
                            <li class="dropdown-item"><a href="{{ path('profile') }}">{{ 'common.profile'|trans({}, 'app', app.request.locale) }}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown-item"><a href="{{ path('admin_index') }}">{{ 'nav.admin'|trans({}, 'app', app.request.locale) }}</a></li>
                            {% endif %}
                            <li class="dropdown-item"><a href="{{ path('security_logout') }}">{{ 'common.logout'|trans({}, 'app', app.request.locale) }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a href="{{ path('security_login') }}" class="btn btn-theme-white">{{ 'common.login'|trans({}, 'app', app.request.locale) }}</a>
                {% endif %}
                <li>
                    <button id="locale-button" class="btn btn-theme-white">
                        {{ mdi('web', 'mt-1') }}
                        <sup class="nav-locale">{{ app.request.locale }}</sup>
                    </button>
                    <ul class="dropdown" data-dropdown data-for="#locale-button">
                        <li class="dropdown-item"><a href="{{ path('change_locale', {'locale': locale_default}) }}">{{ locale_default }}</a></li>
                        <li class="dropdown-item"><a href="{{ path('change_locale', {'locale': locale_alternate}) }}">{{ locale_alternate }}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>