{% trans_default_domain 'app' %}

<div class="container{% if wide is defined and wide == true %}-fluid{% endif %}">
    <div class="row">
        <nav>
            <ul class="navigation-main">
                <li><a href="#" class="btn btn-theme-white">{{ 'nav.aboutUs'|trans }}</a></li>
                <li><a href="{{ path('course_index') }}" class="btn btn-theme-white">{{ 'nav.training'|trans }}</a></li>
                <li><a href="{{ path('practical_submodule_index') }}" class="btn btn-theme-white">{{ 'nav.practice'|trans }}</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('tos_index') }}" class="btn btn-theme-white">{{ 'nav.termsOfService'|trans }}</a></li>
                    <li>
                        <button id="profile-button" class="btn btn-theme-white">{{ app.user.email }}</button>
                        <ul id="profile-dropdown" class="dropdown" data-dropdown data-for="#profile-button">
                            <li class="dropdown-item"><a href="{{ path('profile') }}">{{ 'common.profile'|trans }}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown-item"><a href="{{ path('admin_index') }}">{{ 'nav.admin'|trans }}</a></li>
                            {% endif %}
                            <li class="dropdown-item"><a href="{{ path('security_logout') }}">{{ 'common.logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a href="{{ path('security_login') }}" class="btn btn-theme-white">{{ 'common.login'|trans }}</a>
                {% endif %}
                <li><a href="{{ path('change_locale') }}" class="btn btn-theme-white">{{ 'nav.language'|trans }}<sup class="sup-locale">{{ app.request.locale }}</sup></a></li>
            </ul>
        </nav>
    </div>
</div>