{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block title %}{{ 'page.topic.index'|trans }}{% endblock %}

{% block body %}
    {% include 'topic/_banner.html.twig' %}

    <div class="container py-5">
        {% include "_partials/toasts.html.twig" with {'classAddition': 'row'} %}
        <div class="row pb-5">
            <div class="topic-about-title">{{ 'index.topics.title'|trans|raw }}</div>
            <div class="topic-about-text">{{ 'index.topics.text'|trans|raw }}</div>
        </div>
        {% if is_topic_index_video_url_available() %}
            <div class="row mb-5">
                <div class="col-12 col-lg-6 mx-auto">
                    <div class="topic-about-title">{{ 'index.topics.videoTitle'|trans|raw }}</div>
                    <video preload="none" class="w-100" controls>
                        <source src="{{ get_topic_index_video_url() }}">
                    </video>
                </div>
            </div>
        {% endif %}
        <div class="row g-3">
            {% for topic in topics %}
                {% include 'topic/_index_topic.html.twig' with {'topic': topic} %}
            {% endfor %}
            {% if is_granted('ROLE_MODERATOR') %}{% include 'topic/_index_add.html.twig' %}{% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('particles') }}
{% endblock %}