{{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    {% if form.type is defined %}
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
    {% endif %}

    {{ form_label(form.text) }}
    {{ form_widget(form.text) }}

    {% if form.textAlt is defined %}
        {{ form_label(form.textAlt) }}
        {{ form_widget(form.textAlt) }}
    {% endif %}

    {% if form.correctAnswer is defined %}
        {{ form_label(form.correctAnswer) }}
        {{ form_widget(form.correctAnswer) }}
    {% endif %}

    {{ form_label(form.explanation) }}
    <div class="editor-container mb-3">
        {% include '_partials/ql-editor-toolbar.html.twig' %}
        <div id="explanation-editor"></div>
    </div>
    {{ form_widget(form.explanation) }}

    {% if form.explanationAlt is defined %}
        {{ form_label(form.explanationAlt) }}
        <div class="editor-container mb-3">
            {% include '_partials/ql-editor-toolbar.html.twig' with {'editorToolbarId': 'editor-toolbar-alt', 'editorHtmlId': 'editor-html-alt'} %}
            <div id="explanation-alt-editor"></div>
        </div>
        {{ form_widget(form.explanationAlt) }}
    {% endif %}
{{ form_end(form) }}